<%- include('../partials/head') %>

<div class="body-container">    

    <div id="smile-wellness">
    <h2 class="font">Our Wellness Shop</h2>
    <img src="/assets/smile.png"alt="smile" width="125" height="35">
    </div>

    <!-- Product Info -->
    <div class="product-container">
        <div class="row">
            <div class="col-6 product-image">
                <img src="<%= products.image %>"width="400" height="400">
            </div>

            <div class="col-6">
                <h3 class="product-title"><%= products.name %></h3>
                <h4 class="product-description">Crafted with an elegant outer glass casing, this diffuser uses ultrasonic technology to disperse your favorite essential oils into dreamy wafts inspired by clouds and the sky. Integrated LED lighting enhances the ambiance, while a sleek, minimalist design elevates any space.</h4>
                <h4 class="product-price">$ <%= products.price %></h4>
                <a href="" class=" button-contact btn btn-primary buy-now">Buy Now</a>
                <div class="row shop-row">
                    <% if (user) { %>
                    <a href="/products/<%= products.slug %>/edit" class=" col-6  button-contact btn btn-primary edit-now">Edit</a>
                    <form method="post" action="/products/<%= products.slug %>?_method=DELETE">
                        <button type="submit" class=" col-6 btn btn-danger edit-now">delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>


    <!-- Comments Section -->
    <div class="comments-container">
        
        <!-- header & add review btn -->
        <div class="comments-title-group row">
            <div class="col-8">
                <h3 class="comments-title-head" >What people are saying?</h3>
            </div>
            <div class="comments-title col-4 review-group">
                <a href="#scroll-target" class=" button-contact btn btn-primary review-btn">Add Review</a>
            </div>
        </div>

        <!-- card-comments -->
        <div class="row">
            <div class="card-group comment-group">
                <% ratings.forEach(element => { %>
                    <div class="col-4 card-space comments-card-background">
                        <div class="card" >
                            <div class="card-body" style="height: 125px;">
                                <img class="speech" src="/assets/rating.png" style="height: 40px">
                                <h5 class="card-title comments-title"><%= element.comment %></h5>
                                    <div class= "comments-description-group">
                                        <h5 class="card-title comments-description">Name: <%= element.name %></h5>
                                        <h5 class="card-title comments-description">Rating Score: <%= element.rating %></h5>
                                        <h5 class="card-title comments-description"><span style="font-weight:normal">Rated At: <%= element.created_at %></h5>
                                    </div>
                            </div>
                        </div>
                
                    </div>
                <% }) %>   
            </div>
        </div>
        
    </div>

    <!-- Add-task-form -->

    <div id="scroll-target" class="at-form-container">
        <form method="POST" action="/products/<%= products.slug %>">
            <div class="mb-3 font-form">
                <label for="comment" class="form-label">Comment</label>
          <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
            </div>

            <div class="mb-3 font-form">
                <label for="last_name" class="form-label"> Name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            
            <div class="mb-3 font-form">
                <label for="rating" class="form-label">Rating</label>
            <select name="rating" id="rating" class="form-select">
                <option value="" selected disabled>Rate this product...</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            </div>
        
            <button type="submit" class="btn btn-primary review-btn">Add Review</button>
        </form>
    </div>



    <!-- Contact section -->
    <div class="contact-container container-fluid">
        <div class="row contact-group">
            <div class="col-7">
            <h3 id="contact-text">Relaxation made simple, Reach Us!</h3>
            </div>
            <div class="col-5">
            <a href="/contact" class=" button-contact btn btn-primary">Contact Us</a>
            </div>
        </div>
    </div>



</div>


<%- include('../partials/foot') %>
